body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Gambar Lumba-Lumba berada di tengah dengan ukuran desktop */
.background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.background img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;               
    left: 50%;             
    transform: translate(-50%, -50%); 
    width: 90%;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

container .img {
    max-width: 200px;
    height: auto;
    margin: 0 auto 20px auto;
    display: block;
}

h1 {
    margin-bottom: 20px;
}

#text-to-type{
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
}

#user-input{
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

#start-button{
    padding: 10px 20px;
    font-size: 16px;
    color: #ffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#results{
    margin-top: 20px;
}

#results p{
    font-size: 18px;
    margin: 5px 0;
}

#timer span, #wpm span {
    font-weight: bold;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}